/* 
    Los estandares mas comunes de escribir clases en CSS::after
    * Modulos
    * BEM
    * SMACSS
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Globales */

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/** Header and navegation **/
.site-name {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.site-name span {
    color: #037bc0;
}

.container-navigation {
    border-top: 1px solid #e1e1e1;
}

.main-navigation {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}   