/* 
    Los estandares mas comunes de escribir clases en CSS::after
    * Modulos
    * BEM
    * SMACSS
*/

html {
    box-sizing: border-box;
}

*, *::before, *::after { /* Pseudo-selectores*/
    box-sizing: inherit;
}

/* Globales */

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

/** Header and navegation **/
.site-name {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.site-name span {
    color: #037bc0;
}

.container-navigation {
    border-top: 1px solid #e1e1e1;
}

.main-navigation {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

/** Categories **/
/*
    fr es una unidad de medida que significa fraccion
*/

.categories h2 {
    text-align: center;
}

.categorie a {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.categorie a:hover {
    background-color: #037bc0;
    color: #ffffff;
    border-bottom-right-radius: 10px;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}